* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
    background: #f4f7f6;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    z-index: 1000;
}

.logo img{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-weight: 600;
    height: 70px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 90vh;
    background: url("images/adams.png.jpg") center/cover no-repeat;
}

.overlay {
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.overlay h1 {
    font-size: 3.5rem;
}

.overlay p {
    font-size: 1.4rem;
}

/* INTRO */
.intro {
    padding: 60px 15%;
    background: white;
    text-align: center;
}

.intro h2 {
    color: #2e7d32;
    margin-bottom: 15px;
}

/* PLACES */
.places {
    padding: 60px 10%;
}

.place-card {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    align-items: center;
}

.place-card.reverse {
    flex-direction: row-reverse;
}

.place-card img {
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.text {
    width: 50%;
}

.text h3 {
    color: #2e7d32;
    margin-bottom: 10px;
}

/* BUTTON */
.info-btn {
    background: #2e7d32;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

/* EXTRA INFO */
.extra-info {
    display: none;
    margin-top: 15px;
}

.extra-info img {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .place-card,
    .place-card.reverse {
        flex-direction: column;
    }

    .place-card img,
    .text {
        width: 100%;
    }

    .overlay h1 {
        font-size: 2.5rem;
    }
}
